<template>
    <section id="myDownButton">
        <div v-if="!isDisabled">
            <div v-if="pressed">
            <div class="eightbit-btn-pressed"> {{direction}}</div>
            </div>
            <div v-else>
                <div class="eightbit-btn" > {{direction}}</div>
            </div>
        </div>
        <div v-else>
            <div class="eightbit-btn-paused"> {{direction}}</div>
        </div>
    </section>

</template>

<script>
export default {
  name: 'DownButton',
  props: {
    //any valid value as a event key should work e.g. ArrowUp, ArrowDown, ArrowLeft, ArrowRight ..
    inputKey: {
      default: 'ArrowDown',
    },
    callBack: {
      type: Function,
    },
    isDisabled: {
      default: false,
    },
    direction: {
      default: "▼"
    },
  },
  data() {
    return {
      pressed: false,
    };
  },
  mounted() {
    const button = document.getElementById('myDownButton');
    button.addEventListener('click', event => {
      if(this.isDisabled){
        return
      }
      this.callBack();
    }),
      document.addEventListener('keydown', event => {
        if (event.key === this.inputKey) {
          if(this.isDisabled){
            return
          }
          this.pressed = true;
          this.callBack();
        }
      }),
      document.addEventListener('keyup', event => {
        if (event.key === this.inputKey) {
          if(this.isDisabled){
            return
          }
          this.pressed = false;
        }
      });
  },
};
</script>

<style scoped>
/*@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');*/
.eightbit-btn {
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 10px;
  padding: 15px;
  font-smooth: never;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn:hover,
.eightbit-btn:focus {
  background: rgba(45, 124, 58, 0.57);
  box-shadow: inset -6px -6px 0px 0px #366146;
}
.eightbit-btn:active {
  background: #437c5b;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 10px;
  padding: 15px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #122118;
}
.eightbit-btn:before,
.eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.eightbit-btn-pressed {
  background: #437c5b;
  display: inline-block;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 10px;
  padding: 15px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #122118;
}
.eightbit-btn-pressed:hover,
eightbit-btn-pressed:focus {
  background: rgba(45, 124, 58, 0.57);
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.eightbit-btn-pressed:active {
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 10px;
  padding: 15px;
  font-smooth: never;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn-pressed:before,
.eightbit-btn-pressed:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn-pressed:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn-pressed:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}


.eightbit-btn-paused {
    background: #999999;
    display: inline-block;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 10px;
    padding: 15px;
    font-smooth: never;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #122118;
}
.eightbit-btn-paused:hover,
eightbit-btn-paused:focus {
    background: #999999;
    box-shadow: inset -6px -6px 0px 0px #353434;
}
.eightbit-btn-paused:active {
    background: #999999;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 10px;
    padding: 15px;
    font-smooth: never;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #353434;
}
.eightbit-btn-paused:before,
.eightbit-btn-paused:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.eightbit-btn-paused:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}
.eightbit-btn-paused:after {
    left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
}

</style>
