<template>
    <section>
        <div id="myRollButton">
            <div v-if="!isDisabled">
                <div v-if="pressed">
                    <div class="eightbit-btn-pressed"> Roll</div>
                </div>
                <div v-else>
                    <div class="eightbit-btn"> Roll </div>
                </div>
                </div>
            <div v-else>
                <div class="eightbit-btn-paused"> Roll</div>
            </div>
        </div>

    </section>
</template>

<script>
export default {
  name: 'RollButton',
  props: {
    //any valid value as a event key should. In this case, the value is default as key 'r'.
    inputKey: {
      default: 'q',
    },
    callBack: {
      type: Function,
    },
    isDisabled: {
      default: false,
    },
  },
  data(){
    return {
      pressed: false,
    };
  },
  mounted() {
    const button = document.getElementById('myRollButton');
    console.log('SA ', this.isDisabled);
    button.addEventListener('click', event => {
      console.log('G ', this.isDisabled);
      if (!this.isDisabled) {
        this.callBack();
      }
    });
    document.addEventListener('keydown', event => {
      if (!this.isDisabled) {
        if (event.key === this.inputKey) {
          this.pressed = true;
          this.callBack();
        }
      }
    });
    document.addEventListener('keyup', event => {
      if (!this.isDisabled) {
        if (event.key === this.inputKey) {
          this.pressed = false;
        }
      }
    });
  },
};
</script>

<style scoped>
/*@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');*/
.eightbit-btn {
  background: #ff6b55;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-smooth: never;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #a51627;
}
.eightbit-btn:hover,
.eightbit-btn:focus {
  background: rgba(214, 67, 80, 0.95);
  box-shadow: inset -6px -6px 0px 0px #300c09;
}
.eightbit-btn:active {
  background: #9e0c00;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4c0a07;
}
.eightbit-btn:before,
.eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.eightbit-btn-pressed {
  background: #9e0c00;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4c0a07;
}
.eightbit-btn-pressed:hover,
eightbit-btn-pressed:focus {
  background: rgba(95, 163, 214, 0.95);
  box-shadow: inset -6px -6px 0px 0px #263e84;
}
.eightbit-btn-pressed:active {
  background: #9e0c00;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4c0a07;
}
.eightbit-btn-pressed:before,
.eightbit-btn-pressed:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn-pressed:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn-pressed:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.eightbit-btn-paused {
  background: #999999;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-smooth: never;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #1d0409;
}
.eightbit-btn-paused:hover,
.eightbit-btn-paused:focus {
  background: #999999;
  box-shadow: inset -6px -6px 0px 0px #1d0409;
}
.eightbit-btn-paused:active {
  background: #999999;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #999999;
}
.eightbit-btn-paused:before,
.eightbit-btn-paused:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn-paused:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn-paused:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
</style>
