<template>
    <section id="myTokenButton">
        <div v-if="!isDisabled && tokenAmount > 0" >
            <div v-if="pressed">
                <div class="eightbit-btn-pressed"> Skip : {{tokenAmount}}</div>
            </div>
            <div v-else>
                <div class="eightbit-btn"> Skip : {{tokenAmount}} </div>
            </div>
        </div>
        <div v-else>
            <div class="eightbit-btn-paused"> Skip : {{tokenAmount}}</div>
        </div>

    </section>
</template>

<script>
export default {
  name: 'TokenButton',
  props: {
    //any valid value as a event key should work e.g. ArrowUp, ArrowDown, ArrowLeft, ArrowRight ..
    inputKey: {
      default: 't',
    },
    callBack: {
      type: Function,
      default: () => {
        console.log('Function is called');
      },
    },
    isDisabled: {
      default: false,
    },
    tokenAmount:{
      default: 0
    }
  },
  data() {
    return {
      pressed: false,
    };
  },
  mounted() {
    const button = document.getElementById('myTokenButton');
    button.addEventListener('click', event => {
      if(this.isDisabled || this.tokenAmount <= 0){
        return
      }
      this.callBack();
    }),
      document.addEventListener('keydown', event => {
        if(this.isDisabled || this.tokenAmount <= 0){
          return
        }
        if (event.key === this.inputKey) {
          this.pressed = true;
          this.callBack();
        }
      }),
      document.addEventListener('keyup', event => {
        if(this.isDisabled || this.tokenAmount <= 0){
          return
        }
        if (event.key === this.inputKey) {
          this.pressed = false;
        }
      });
  },
};
</script>

<style scoped>
/*@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');*/
.eightbit-btn {
  background: #ff9ab9;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-smooth: never;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #973772;
}
.eightbit-btn:hover,
.eightbit-btn:focus {
  background: rgba(255, 193, 248, 0.89);
  box-shadow: inset -6px -6px 0px 0px #ffafd5;
}
.eightbit-btn:active {
  background: #c07fbc;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #552547;
}
.eightbit-btn:before,
.eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.eightbit-btn-pressed {
  background: #c07fbc;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #552547;
}
.eightbit-btn-pressed:hover,
eightbit-btn-pressed:focus {
  background: rgba(255, 193, 248, 0.89);
  box-shadow: inset -6px -6px 0px 0px #ffafd5;
}
.eightbit-btn-pressed:active {
  background: #c07fbc;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  padding: 20px;
  font-smooth: never;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #552547;
}
.eightbit-btn-pressed:before,
.eightbit-btn-pressed:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn-pressed:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn-pressed:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}

.eightbit-btn-paused {
    background: #999999;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-smooth: never;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #1d0409;
}
.eightbit-btn-paused:hover,
.eightbit-btn-paused:focus {
    background: #999999;
    box-shadow: inset -6px -6px 0px 0px #1d0409;
}
.eightbit-btn-paused:active {
    background: #999999;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-smooth: never;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #999999;
}
.eightbit-btn-paused:before,
.eightbit-btn-paused:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.eightbit-btn-paused:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}
.eightbit-btn-paused:after {
    left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
}
</style>
