<template>
    <section>
        <div v-if="diceNumber===1">
        <img src="../assets/dice-1.png" height="50px" width="50px">
        </div>
        <div v-if="diceNumber===2">
            <img src="../assets/dice-2.png" height="50px" width="50px">
        </div>
        <div v-if="diceNumber===3">
            <img src="../assets/dice-3.png" height="50px" width="50px">
        </div>
        <div v-if="diceNumber===4">
            <img src="../assets/dice-4.png" height="50px" width="50px">
        </div>
        <div v-if="diceNumber===5">
            <img src="../assets/dice-5.png" height="50px" width="50px">
        </div>
        <div v-if="diceNumber===6">
            <img src="../assets/dice-6.png" height="50px" width="50px">
        </div>

        <!--<button @click="genNum"> </button>-->

    </section>
</template>

<script>
export default {
  name: 'Dice',
  props: {
    number: {
      default: 1,
    },
  },
  data() {
    return {
      diceNumber: 0,
    };
  },
  methods: {
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    async genNum() {
      for (let i = 0; i < 25; i++) {
        await this.sleep(i * 5);
        new Audio(require("../assets/sound/roll.wav")).play()
        this.diceNumber = Math.floor(Math.random() * 6 + 1);
      }
      new Audio(require("../assets/sound/rollFin2.wav")).play()

      this.diceNumber = this.number;
    },
  },
  watch: {
    number() {
      this.genNum();
    },
  },
};
</script>

<style scoped>
</style>
