<template>
  <div id="container">
    <!--<input type="number" v-model="playerBoxX">-->
    <!--<input type="number"  v-model="playerBoxY">-->
    <!--<div class="column is-centered">-->
      <canvas class="canvas" id="cvsHover"></canvas>
      <canvas class="canvas" id="cvs"></canvas>
    <!--</div>-->

  </div>
</template>

<script>
export default {
  name: 'grid',
  props: {
    width: {
      default: 100,
    },
    height: {
      default: 100,
    },
    moveCallback: {
      type: Function,
    },
    confirmCallback: {
      type: Function,
    },
    boxNumberHorizontal: {
      default: 27,
    },
    boxNumberVertical: {
      default: 18,
    },
  },
  data() {
    return {
      turn: 'blue',

      blueAreaDefaultColor: 'rgb(107, 114, 255)',
      blueBorderDefaultColor: 'rgb(35, 46, 255)',

      redAreaDefaultColor: 'rgb(255, 107, 107)',
      redBorderDefaultColor: 'rgb(255, 30, 30)',

      hoverAreaDefaultColor: 'rgb(255,182,193)',
      hoverBorderDefaultColor: 'rgb(255,192,203)',

      validAreaDefaultColor: 'rgb(124,252,0)',
      validBorderDefaultColor: 'rgb(0.255.0)',

      invalidAreaDefaultColor: 'rgb(169,169,169)',
      invalidBorderDefaultColor: 'rgb(128,128,128)',

      myCanvas: {},
      canvasBoard: {},

      myCanvasHover: {},
      canvasHoverBoard: {},

      boxWidth: 0,
      boxHeight: 0,

      p1Boxes: [],
      p1Color: '',

      p2Boxes: [],
      p2Color: '',

      coalitionBoxes: [],

      mouseRowBox: 0,
      mouseColBox: 0,

      lastValidValue: {
        i: 0,
        j: 0,
        x: 0,
        y: 0,
      },

      edges: [],

      playerBoxX: -1,
      playerBoxY: -1,
      playerColor: '',

      playerSelectBoxRow: -1,
      playerSelectBoxCol: -1,
      playerSelected: false,

      animationInProcess: false,
    };
  },
  methods: {
    /*
      data
      - ended Boolean
      - turn 'red'|'blue'
      -['player_one'
      - p2

      playerColor 'red'|'blue'
      overlay give it to grid
      * */
    updateData(data, playerColor) {
      // if(data.ended){
      //   this.turn = "Game Ended"
      // }else{
      //   this.turn = data.board.turn
      // }

      console.log('GRID data ', data);
      console.log('PALYER COLOR ', playerColor);

      this.p1Boxes = data.player_one.blocks;
      this.p1Color = data.player_one.color;

      this.p2Boxes = data.player_two.blocks;
      this.p2Color = data.player_two.color;

      this.playerColor = playerColor;
      this.turn = data[data.turn].color;

      if (playerColor === data.player_one.color) {
        this.coalitionBoxes = data.player_two.blocks;
        this.edges = data.player_one.edges;
      } else if (playerColor === data.player_two.color) {
        this.coalitionBoxes = data.player_one.blocks;
        this.edges = data.player_two.edges;
      } else {

        //Double coalition
        this.coalitionBoxes = data.player_one.blocks.concat(data.player_two.blocks);
        
        // this.edges = data.player_two.edges;
      }

      this.reDrawCanvas();
    },

    setDices(n, m) {
      this.playerBoxX = n;
      this.playerBoxY = m;
      // Draw one the middle of the board with different color

      this.mouseRowBox = Math.ceil(this.boxNumberVertical / 3);
      this.mouseColBox = Math.ceil(this.boxNumberHorizontal / 3);

      this.addRectangle(
        this.canvasHoverBoard,
        this.mouseRowBox,
        this.mouseColBox,
        this.playerBoxX,
        this.playerBoxY,
        this.playerColor,
      );
    },
    reDrawCanvas() {
      this.canvasBoard.clearRect(
        0,
        0,
        this.myCanvas.width,
        this.myCanvas.height,
      );

      this.makeGrid(this.boxNumberHorizontal, this.boxNumberVertical);
      this.p1Boxes.forEach(it => {
        this.addRectangle(
          this.canvasBoard,
          it.i,
          it.j,
          it.x,
          it.y,
          this.p1Color,
        );
      });
      this.p2Boxes.forEach(it => {
        this.addRectangle(
          this.canvasBoard,
          it.i,
          it.j,
          it.x,
          it.y,
          this.p2Color,
        );
      });
    },
    makeGrid(x, y) {
      // console.log("RE MAKE GRID")
      const bW = this.myCanvas.width / x;
      const bH = this.myCanvas.height / y;
      this.boxWidth = bW;
      this.boxHeight = bH;

      const defaultColor = this.canvasBoard.fillStyle;
      this.canvasBoard.fillStyle = '#fffaf0';

      this.canvasBoard.fillRect(
        0,
        0,
        this.myCanvas.width,
        this.myCanvas.height,
      );

      this.canvasBoard.fillStyle = defaultColor;

      for (let i = 0; i < y; i++) {
        for (let j = 0; j < x; j++) {
          this.canvasBoard.strokeStyle = `gray`;
          this.canvasBoard.lineWidth = 0.25;
          // this.canvasGridBoard.strokeRect(j * bW , i * bH, bW,bH)
          this.canvasBoard.strokeRect(j * bW, i * bH, bW, bH);
          // this.canvasBoard.fillText(`${i} ${j}`, j * bW +10, i * bH+10)
        }
      }
    },
    addRectangle(targetCanvas, i, j, x, y, color) {
      if (color === 'blue') {
        targetCanvas.fillStyle = this.blueAreaDefaultColor;
        targetCanvas.strokeStyle = this.blueBorderDefaultColor;
      }
      else if  (color === 'red') {
        targetCanvas.fillStyle = this.redAreaDefaultColor;
        targetCanvas.strokeStyle = this.redBorderDefaultColor;
      }
      else if (color === 'valid') {
        targetCanvas.fillStyle = this.validAreaDefaultColor;
        targetCanvas.strokeStyle = this.validBorderDefaultColor;
      }
      else if (color === 'invalid') {
        targetCanvas.fillStyle = this.invalidAreaDefaultColor;
        targetCanvas.strokeStyle = this.invalidBorderDefaultColor;
      } else {
        targetCanvas.fillStyle = this.hoverAreaDefaultColor;
        targetCanvas.strokeStyle = this.hoverBorderDefaultColor;
      }

      targetCanvas.lineWidth = 2.5;

      const boxWidth = this.boxWidth * x,
        boxHeight = this.boxHeight * y,
        boxPosX = this.boxWidth * j,
        boxPosY = this.boxHeight * i;

      targetCanvas.fillRect(boxPosX, boxPosY, boxWidth, boxHeight);
      targetCanvas.strokeRect(boxPosX, boxPosY, boxWidth, boxHeight);

      const size = x * y;

      const centerWidth = boxWidth + boxPosX - boxWidth / 2;
      const centerHeight = boxHeight + boxPosY - boxHeight / 2;
      const textSize = 10;

      targetCanvas.textAlign = 'center';
      targetCanvas.textBaseline = 'middle';

      targetCanvas.fillStyle = 'white';
      targetCanvas.font = (size + textSize).toString() + 'px Impact';

      targetCanvas.fillText(size.toString(), centerWidth, centerHeight);
    },
    setCanvasDefaultValue() {
      //Rectangle
      this.myCanvas = document.getElementById('cvs');
      if (window.outerWidth <= 800) {
        this.myCanvas.width = window.outerWidth;
        this.myCanvas.height = Math.ceil(window.innerHeight / 2);
      } else {
        this.myCanvas.width = Math.ceil(window.outerWidth / 2);
        this.myCanvas.height = Math.ceil(window.innerHeight / 2);
      }

      this.canvasBoard = this.myCanvas.getContext('2d');

      //Hover
      this.myCanvasHover = document.getElementById('cvsHover');
      if (window.outerWidth <= 800) {
        this.myCanvasHover.width = window.outerWidth;
        this.myCanvasHover.height = Math.ceil(window.innerHeight / 2);
      } else {
        this.myCanvasHover.width = Math.ceil(window.outerWidth / 2);
        this.myCanvasHover.height = Math.ceil(window.innerHeight / 2);
      }

      this.myCanvasHover.addEventListener('mousemove', this.createBoxHover);
      this.myCanvasHover.addEventListener('mouseup', this.selectBoxHover);
      this.myCanvasHover.addEventListener('mousedown', this.deSelectBoxHover);
      // this.myCanvasHover.addEventListener('keypress',this.rotatePlayerBox)

      document.addEventListener('keydown', this.eventHandlerKeyDown);
      document.addEventListener('keyup', this.eventHandlerKeyUp);

      // this.myCanvasHover.addEventListener('touchend',this.selectBoxHover)
      // this.myCanvasHover.addEventListener('touchmove',(e)=>{console.log(e)})
      // this.myCanvasHover.addEventListener('touchenter',this.deSelectBoxHover)
      this.canvasHoverBoard = this.myCanvasHover.getContext('2d');
    },

    createBoxHover(e) {
      if (!this.isPlayerTurn() || this.playerBoxX <= 0) {
        return;
        //  Check if it's the player turn
      }

      const pos = this.getCanvasMousePos(this.myCanvasHover, e);

      // console.log("POs ", pos.x,pos.y)
      this.updateMousePositionAsBox(pos.x, pos.y);

      this.checkBoundariesAndRender();
    },

    createBoxHoverOpponent(i, j, x, y) {
      if (this.isPlayerTurn()) {
        console.log("it's " + this.playerColor + ' turn not the opponent');
        return;
        // Check if it's the player turn
      }

      // const pos = this.getCanvasMousePos(this.myCanvasHover,e)
      //
      // this.updateMousePositionAsBox(pos.x,pos.y)

      this.mouseRowBox = i;
      this.mouseColBox = j;
      this.playerBoxX = x;
      this.playerBoxY = y;
      this.playerSelected = false;

      this.checkBoundariesAndRender();
    },

    initHoverAimer() {
      this.lastValidValue.i = 0;
      this.lastValidValue.j = 0;
      this.lastValidValue.x = this.playerBoxX;
      this.lastValidValue.y = this.playerBoxY;
    },

    selectBoxHover(e) {
      if (!this.isPlayerTurn() || this.playerBoxY <= 0 || this.playerBoxX <= 0) return;
      // console.log("UP3",e.x,e.y)
      const pos = this.getCanvasMousePos(this.myCanvasHover, e);
      this.updateMousePositionAsBox(pos.x, pos.y);
      // console.log("PP",this.mouseRowBox,this.mouseColBox)
      this.playerSelectBoxRow = this.mouseRowBox;
      this.playerSelectBoxCol = this.mouseColBox;
      this.playerSelected = true;
      this.checkBoundariesAndRender();
      // console.log("SELECT")
    },
    deSelectBoxHover(e) {
      if (!this.isPlayerTurn()|| this.playerBoxY <= 0 || this.playerBoxX <= 0) return;
      this.playerSelectBoxRow = -1;
      this.playerSelectBoxCol = -1;
      this.playerSelected = false;
    },
    updateMousePositionAsBox(x, y) {
      // console.log("UP XY ",x,y)

      const boxNumberCol = Math.ceil(x / this.boxWidth) - 1;
      const boxNumberRow = Math.ceil(y / this.boxHeight) - 1;

      // console.log("CIL ",boxNumberRow,boxNumberCol)

      const offsetX = Math.floor(this.playerBoxX / 2);
      const offsetY = Math.floor(this.playerBoxY / 2);

      // console.log("OFFSET ",offsetX,offsetY)
      this.mouseRowBox = boxNumberRow - offsetY;
      this.mouseColBox = boxNumberCol - offsetX;

      // console.log(this.mouseRowBox,this.mouseColBox)
      this.checkBoundariesAndRender();

      // console.log("MOUSE in update ",this.mouseRowBox,this.mouseColBox)
    },
    eventHandlerKeyUp(e) {
      if (e.key === 'Enter') {
        this.confirmSelect();
      }
    },
    eventHandlerKeyDown(e) {
      // console.log(e)

      if (e.key === 'd') {
        this.playerSelected = false;
      }
    },
    //Control

    directionControl(direction) {
      if (!this.isPlayerTurn() || this.playerBoxX <= 0) {
        return;
        //  Check if it's the player turn
      }

      if (this.playerSelected) {
        if (direction === 'right') {
          this.playerSelectBoxCol += 1;
        }
        if (direction === 'left') {
          this.playerSelectBoxCol -= 1;
        }
        if (direction === 'up') {
          this.playerSelectBoxRow -= 1;
        }
        if (direction === 'down') {
          this.playerSelectBoxRow += 1;
        }
      } else {
        if (direction === 'right') {
          this.mouseColBox += 1;
        }
        if (direction === 'left') {
          this.mouseColBox -= 1;
        }
        if (direction === 'up') {
          this.mouseRowBox -= 1;
        }
        if (direction === 'down') {
          this.mouseRowBox += 1;
        }
      }

      this.checkBoundariesAndRender();
    },

    checkBoundariesAndRender() {
      console.log('R ', this.mouseRowBox, this.mouseColBox);

      // console.log("CHECK")
      // if(!this.isPlayerTurn()){
      //   return
      // }

      //Check if player have selected where the box will be place
      if (this.playerSelected) {
        if (
          !this.isBoxPlaceable(
            this.playerSelectBoxRow,
            this.playerSelectBoxCol,
            this.playerBoxX,
            this.playerBoxY,
          )
        ) {
          this.playerSelectBoxRow = this.lastValidValue.i;
          this.playerSelectBoxCol = this.lastValidValue.j;
          this.playerBoxX = this.lastValidValue.x;
          this.playerBoxY = this.lastValidValue.y;
          console.log('Overlap');
        } else {
          this.lastValidValue.i = this.playerSelectBoxRow;
          this.lastValidValue.j = this.playerSelectBoxCol;
          this.lastValidValue.x = this.playerBoxX;
          this.lastValidValue.y = this.playerBoxY;

          console.log('NOT Overlap');
        }
        this.canvasHoverBoard.clearRect(
          0,
          0,
          this.myCanvasHover.width,
          this.myCanvasHover.height,
        );

        //If so use selected position for calculation

        //Check if box exceed board's celling
        if (this.playerSelectBoxRow < 0) {
          this.playerSelectBoxRow = 0;
        }
        //Check if box exceed board's left wall
        if (this.playerSelectBoxCol < 0) {
          this.playerSelectBoxCol = 0;
        }

        if (
          this.playerSelectBoxRow + this.playerBoxY >
          this.boxNumberVertical
        ) {
          this.playerSelectBoxRow = this.boxNumberVertical - this.playerBoxY;
        }
        if (
          this.playerSelectBoxCol + this.playerBoxX >
          this.boxNumberHorizontal
        ) {
          this.playerSelectBoxCol = this.boxNumberHorizontal - this.playerBoxX;
        }

        //Call callback
        if (this.isPlayerTurn()) {
          this.moveCallback(
            this.playerSelectBoxRow,
            this.playerSelectBoxCol,
            this.playerBoxX,
            this.playerBoxY,
          );
        }
        //Draw rectangle
        this.addRectangle(
          this.canvasHoverBoard,
          this.playerSelectBoxRow,
          this.playerSelectBoxCol,
          this.playerBoxX,
          this.playerBoxY,
          this.turn,
        );
      } else {
        //If not, use current mouse position for calculation

        if (
          !this.isBoxPlaceable(
            this.mouseRowBox,
            this.mouseColBox,
            this.playerBoxX,
            this.playerBoxY,
          )
        ) {
          console.log(this.lastValidValue, this.mouseRowBox, this.playerBoxX);
          this.mouseRowBox = this.lastValidValue.i;
          this.mouseColBox = this.lastValidValue.j;
          this.playerBoxX = this.lastValidValue.x;
          this.playerBoxY = this.lastValidValue.y;
          console.log('Overlap');
        } else {
          this.lastValidValue.i = this.mouseRowBox;
          this.lastValidValue.j = this.mouseColBox;
          this.lastValidValue.x = this.playerBoxX;
          this.lastValidValue.y = this.playerBoxY;

          console.log('NOT Overlap');
        }

        this.canvasHoverBoard.clearRect(
          0,
          0,
          this.myCanvasHover.width,
          this.myCanvasHover.height,
        );

        //Check if box exceed board's celling
        if (this.mouseRowBox < 0) {
          this.mouseRowBox = 0;
        }
        //Check if box exceed board's left wall
        if (this.mouseColBox < 0) {
          this.mouseColBox = 0;
        }

        //Check if box exceed board's floor
        if (this.mouseRowBox + this.playerBoxY > this.boxNumberVertical) {
          this.mouseRowBox = this.boxNumberVertical - this.playerBoxY;
        }

        //Check if box exceed board's right wall
        if (this.mouseColBox + this.playerBoxX > this.boxNumberHorizontal) {
          this.mouseColBox = this.boxNumberHorizontal - this.playerBoxX;
        }

        //Call callback
        if (this.isPlayerTurn()) {
          this.moveCallback(
            this.mouseRowBox,
            this.mouseColBox,
            this.playerBoxX,
            this.playerBoxY,
          );
        }

        //Draw rectangle
        this.addRectangle(
          this.canvasHoverBoard,
          this.mouseRowBox,
          this.mouseColBox,
          this.playerBoxX,
          this.playerBoxY,
          this.turn,
        );
      }
    },
    rotatePlayerBox() {
      const temp = this.playerBoxY;
      this.playerBoxY = this.playerBoxX;
      this.playerBoxX = temp;
    },
    confirmSelect() {
      if (!this.isPlayerTurn()) {
        console.log("It's not this player turn");
        return;
      }

      if (!this.playerSelected) {
        this.playerSelectBoxRow = this.mouseRowBox;
        this.playerSelectBoxCol = this.mouseColBox;
        this.playerSelected = true;
      }

      console.log('CON ', this.mouseRowBox, this.mouseColBox);

      console.log(this.playerSelectBoxRow, this.playerSelectBoxCol);

      // if(!this.playerSelected){
      //   console.log("Player haven't select where the box is yet.")
      //   return
      // }

      // if(!this.isNextToEdge({i: this.playerSelectBoxRow,j:this.playerSelectBoxCol, x:this.playerBoxX ,y:this.playerBoxY})){
      //   console.log("NOT AT EDGE")
      //   return
      // }

      const confirmedBox = {
        i: this.playerSelectBoxRow,
        j: this.playerSelectBoxCol,
        x: this.playerBoxX,
        y: this.playerBoxY,
        color: this.playerColor,
      };

      console.log('CONFIRM', confirmedBox);

      //TODO: Call Confirm
      this.confirmCallback(confirmedBox);
    },

    resetPlayerHover() {
      console.log('reset player hover');
      this.playerBoxY = -1;
      this.playerBoxX = -1;
      this.canvasHoverBoard.clearRect(
        0,
        0,
        this.myCanvasHover.width,
        this.myCanvasHover.height,
      );
    },

    isPlayerTurn() {
      return this.playerColor === this.turn;
    },
    getCanvasMousePos(canvas, evt) {
      const rect = canvas.getBoundingClientRect();
      // console.log("RECT",rect.left,rect.top)
      // console.log("RECT2",evt.clientX,evt.clientY)
      return {
        x: evt.clientX - rect.left,
        y: evt.clientY - rect.top,
      };
    },

    //Edge Related Calculation
    getNeighbor(co) {
      const i = co[0];
      const j = co[1];
      return [[i + 1, j], [i - 1, j], [i, j + 1], [i, j - 1]];
    },
    updateEdges(box) {
      const i = box.i,
        j = box.j,
        x = box.x,
        y = box.y;

      for (let eachI = i; eachI < i + y; eachI++) {
        for (let eachJ = j; eachJ < j + x; eachJ++) {
          const newEdgePoint = [eachI, eachJ, 0];
          const neighs = this.getNeighbor([eachI, eachJ]);
          neighs.forEach(n => {
            const haveN = this.edges.filter(e => {
              return e[0] === n[0] && e[1] === n[1];
            });
            if (haveN.length !== 0) {
              newEdgePoint[2] -= 1;
              haveN[0][2] -= 1;
              console.log('NEXT TO EDGE', haveN[0]);
              if (haveN[0][2] <= 0) {
                //If it's got surrounded by block
                //  remove from edges
                console.log('REMOVE EDGE SUCH EDGE');
                this.edges.splice(this.edges.indexOf(haveN[0]), 1);
              }
            }
          });

          // console.log("NEW ",newEdgePoint)

          //top left corner
          if (i === 0 && i === j) {
            newEdgePoint[2] += 2;
            //  bottom right
          } else if (i === this.boxNumberVertical - 1 && i === j) {
            newEdgePoint[2] += 2;
            //  left most, top most, bottom most, right most
          } else if (
            j === 0 ||
            i === 0 ||
            i === this.boxNumberVertical - 1 ||
            j === this.boxNumberHorizontal - 1
          ) {
            newEdgePoint[2] += 3;
            //  right most
          } else {
            newEdgePoint[2] += 4;
          }

          //The new edge is already surrounded by other edges
          // console.log("AFTER ",newEdgePoint)

          if (newEdgePoint[2] <= 0) {
            continue;
          }
          this.edges.push(newEdgePoint);
        }
      }
    },
    findEdge(co) {
      // console.log("sad",co)
      const i = co[0];
      const j = co[1];
      // console.log(i,j)
      let isEdge = false;
      // console.log("THAT", this.edges)
      this.edges.forEach(eachEdge => {
        // console.log("each",eachEdge)
        if (eachEdge[0] === i && eachEdge[1] === j) {
          isEdge = true;
          // eachEdge[2] -= 1;
        }
      });

      // console.log("Return ", isEdge)
      return isEdge;
    },
    isNextToEdge(box) {
      const i = box.i,
        j = box.j,
        x = box.x,
        y = box.y;
      for (let eachI = i; eachI < i + y; eachI++) {
        for (let eachJ = j; eachJ < j + x; eachJ++) {
          const neighs = this.getNeighbor([eachI, eachJ]);
          const filteredNeghs = neighs.filter(n => {
            return this.findEdge(n);
          });

          if (filteredNeghs.length !== 0) {
            //  Have near edge
            // console.log("ADD NEW BOX")
            this.updateEdges(box);
            return true;
          }
        }
      }
      return false;
    },
    /**
     *  Take in 4 argument (row, col, width ,height) of the unplaced player box.
     *  Return Boolean determine if the box can be place without overlapping with other boxes
     *  and must be next to the existing player's box.
     */
    isBoxPlaceable(i, j, x, y) {
      const checkAllBox = boxes => {
        if (boxes === undefined || boxes.length === 0) {
          return true;
        }
        const [h, ...t] = boxes;
        const bi = h.i,
          bj = h.j,
          bx = h.x,
          by = h.y;

        //Check if box overlapping
        if (
          !(j > bj + bx - 1 || j + x - 1 < bj) &&
          !(i > bi + by - 1 || i + y - 1 < bi)
        ) {
          return false;
        }
        return checkAllBox(t);
      };
      return checkAllBox(this.coalitionBoxes);
    },
  },
  watch: {
    turn() {
      if (this.turn !== this.playerColor) {
        this.resetPlayerHover();
      }
    },

    // playerSelectBoxRow(){
    //   if(this.playerBoxY <= 0 || this.playerBoxX <= 0){
    //     //  Clear
    //     this.resetPlayerHover()
    //   }else{
    //     this.checkBoundariesAndRender()
    //   }
    // },
    // playerSelectBoxCol(){
    //   if(this.playerBoxY <= 0 || this.playerBoxX <= 0){
    //     //  Clear
    //     this.resetPlayerHover()
    //   }else{
    //     this.checkBoundariesAndRender()
    //   }
    // },
    //
    //
    // mouseRowBox(){
    //   if(this.playerBoxY <= 0 || this.playerBoxX <= 0){
    //     //  Clear
    //     this.resetPlayerHover()
    //   }else{
    //     this.checkBoundariesAndRender()
    //   }
    // },
    // mouseRowCol(){
    //   if(this.playerBoxY <= 0 || this.playerBoxX <= 0){
    //     //  Clear
    //     this.resetPlayerHover()
    //   }else{
    //     this.checkBoundariesAndRender()
    //   }
    // },

    playerBoxY() {
      if (this.playerBoxY <= 0) {
        //  Clear
        this.resetPlayerHover();
      } else {
        this.checkBoundariesAndRender();
      }
    },
    playerBoxX() {
      if (this.playerBoxX <= 0) {
        //  Clear
        this.resetPlayerHover();
      } else {
        this.checkBoundariesAndRender();
      }
    },
  },
  mounted() {
    this.setCanvasDefaultValue();

    const initRed = {
      i: 0,
      j: 0,
      x: 1,
      y: 1,
      color: 'red',
    };
    const initBlue = {
      i: this.boxNumberVertical - 1,
      j: this.boxNumberHorizontal - 1,
      x: 1,
      y: 1,
      color: 'blue',
    };
    // this.boxes.push(initBlue)
    // this.boxes.push(initRed)
    //
    // if(this.playerColor==='blue'){
    //   this.edges.push([initBlue.i,initBlue.j,2])
    // }else{
    //   this.edges.push([initRed.i,initRed.j,2])
    // }

    this.reDrawCanvas();

    const debounce = func => {
      let timer;
      return event => {
        if (timer) {
          clearTimeout(timer);
        }
        timer = setTimeout(func, 100, event);
      };
    };
    // console.log("WIN",window)
    // console.log("Doc",document)
    // console.log("asa",window.outerHeight,window.outerWidth)

    console.log('THAT ', this.edges);
    window.addEventListener(
      'resize',
      debounce(() => {
        // console.log("asa",window.outerHeight,window.outerWidth)

        if (window.outerWidth <= 800) {
          this.myCanvas.width = window.outerWidth;
          this.myCanvas.height = Math.ceil(window.innerHeight / 2);
          this.myCanvasHover.width = window.outerWidth;
          this.myCanvasHover.height = Math.ceil(window.innerHeight / 2);
        } else {
          this.myCanvas.width = Math.ceil(window.outerWidth / 2);
          this.myCanvas.height = Math.ceil(window.innerHeight / 2);
          this.myCanvasHover.width = Math.ceil(window.outerWidth / 2);
          this.myCanvasHover.height = Math.ceil(window.innerHeight / 2);
        }
        this.reDrawCanvas();
        this.checkBoundariesAndRender();
      }),
    );
  },
};
</script>


<style scoped>
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  /*right: 78px;*/
}
#cvsHover {
  z-index: 1000;
}
</style>
