<template>
    <section>
        <audio loop autoplay :src="bgm">
            <p>If you are reading this, it is because your browser does not support the audio element.</p>
        </audio>

        <div v-if="lobby" style="font-family: 'Press Start 2P', cursive;">
            <h4 class="subtitle is-4 is-spaced">Room ID: {{uuid}}</h4>

            <div v-if="!started">
                <b-field>
                    <div class="content" style="margin-top: 2%">
                        <li class="subtitle is-5 is-spaced" >Player 1: {{player1}}</li>
                        <li class="subtitle is-5 is-spaced" >Player 2: {{player2}}</li>
                    </div>
                </b-field>

                <button
                        class="button is-danger is-rounded"
                        @click="onStart(uuid)"
                        @click.prevent="playSound(require('../assets/sound/oof.mp3'))"
                        style="margin-top: 3%"
                >START</button>
            </div>

            <b-field v-else>

              <Overlay
                      ref="gridd"
                      :callbackFunc="onBlockMove"
                      :diceOne="block_x"
                      :diceTwo="block_y"
                      :rollDie="rollDiee"
                      :place="place"
                      :socket="socket"
                      :boardData="boardData"
                      :username="username"
                      :pass="pass"
                      :end="end"
                      :backToLobby="backToLobby"
                      :conclude="onConclude"
              ></Overlay>
            </b-field>
        </div>

        <div v-else style="font-family: 'Press Start 2P', cursive;">
            <h1 class="subtitle is-2">MEME-PAPER.IO </h1>
            <h4 class="subtitle is-6" style="margin: 4%">{{ content }}</h4>

            <h4 class="subtitle is-6 is-spaced"> Please enter your name </h4>
            <b-field grouped
                     group-multiline
                     position="is-centered"
                     style="margin-top: 2%"
            >
                <b-input placeholder="NAME..." v-model="username"></b-input>
            </b-field>

            <div @click="onHostGame" style="margin-top: 3%">
                <HomeButton inputKey="nospace" buttonName="HOST GAME"></HomeButton>
            </div>

            <h3 style="margin-top: 3%" class="subtitle is-6">- OR - </h3>

            <b-field
                    grouped position="is-centered"
                    style="margin-top: 2%">
                <b-input placeholder="ROOM ID..." v-model="uuid"></b-input>
            </b-field>

            <div
                    @click="onJoinRoom"
                    style="margin-top: 2%"
            >
                <HomeButton buttonName="JOIN" inputKey="nospace"></HomeButton>
            </div>
        </div>
    </section>
</template>

<script>
/* eslint-disable */
import BField from 'buefy/src/components/field/Field';
import HomeService from '@/api/HomeService';
import io from 'socket.io-client';
import Grid from '@/components/Grid';
import Overlay from '@/components/Overlay';
import HomeButton from '@/components/button/HomeButton';

export default {
  components: { BField, Grid, Overlay, HomeButton },
  name: 'home',
  data() {
    return {
      bgm : null,
      uuid: '',
      username: '',
      lobby: false,
      player1: '',
      player2: '',
      started: false,
      baseUrl: 'http://puyo-paper-io.teamata.me:30005',
      //baseUrl: 'http://0.0.0.0:5000',
      socket: null,
      content:
        'To play, join or host a game. You can share the room ID so people can enter directly on your room.',
      i: '',
      j: '',
      x: '',
      y: '',
      block_x: '',
      block_y: '',
      boardData: {
      },
    };
  },
  methods: {
    onBlockMove(i, j, x, y) {
      const data = {
        uuid: this.uuid,
        i: i,
        j: j,
        x: x,
        y: y,
      };
      this.socket.emit('move', data);
    },
    backToLobby(){
      this.lobby = false
    },
    async onHostGame() {
      try {
        const res = await HomeService.hostGame(this.username);
        this.uuid = res.data['uid'];
        this.lobby = true;
        this.joinRoom(this.uuid);
      } catch (e) {
        alert(e.message);
      }
    },
    async onJoinRoom() {
      try {
        const res = await HomeService.joinGame(this.uuid, this.username);
        console.log(res)
        // if(res.data.status === "Joined as a spectator"){
        //   this.started = true
        // }

        this.lobby = true;
        this.joinRoom(this.uuid);
      } catch (e) {
        alert(e.message);
      }
    },
    onStart(uid) {
      this.socket.emit('game_loop', uid);
    },
    joinRoom(uid) {
      this.socket.emit('join', uid);
    },
    playSound(sound) {
      if (sound) {
        const audio = new Audio(sound);
        audio.play();
      }
    },
    rollDiee() {
      console.log('ROLL EMIT');
      this.socket.emit('roll', this.uuid);
    },
    place(box) {
      console.log('place');
      const data = {
        uuid: this.uuid,
        block: box,
      };
      console.log('data place ', data);
      this.socket.emit('place', data);
    },
    pass(data){
      data.uuid = this.uuid
      console.log("Data on pass ",data)
      this.socket.emit('pass', data);
    },
    onConclude(data){
      data.uuid = this.uuid
      console.log("Data on conclude ",data)
      this.socket.emit('conclude', data);
    },
    end(){
      const data = {
        uuid: this.uuid
      }
      console.log("End data ",data)
      this.socket.emit('end', data);
    }

  },
  watch:{
    lobby(){
      if (!this.lobby) {
        this.started = false;
        console.log("ENDED CHANGE SONG")
        this.bgm=require("../assets/sound/lobby.mp3")
      //  Reset Variables
        this.uuid = ""
      }
    }
  },
  mounted() {
    this.bgm = require("../assets/sound/lobby.mp3");
    this.socket = io(this.baseUrl);
    this.socket.on('on_join_room', data => {
      const player = data['data'];
      this.player1 = player['player_one']['name'];
      this.player2 = player['player_two']['name'];
    });

    //
    this.socket.on('on_game_loop', data => {
      console.log('on game loop', data);
      const status = data['status'];
      if (status === 'start') {
        this.started = true;
        this.bgm=require("../assets/sound/theme.mp3")
      }
      console.log('adadss  ', this.boardData);
      this.boardData = data;
    });

    //
    this.socket.on('on_move', data => {
      const position = data['data'];
      this.i = position['i'];
      this.j = position['j'];
      this.x = position['x'];
      this.y = position['y'];
      this.$refs.gridd.createBoxHoverOpponent(this.i, this.j, this.x, this.y);
    });

    this.socket.on('on_roll', data => {
      console.log('ROLL ', data);
      this.block_x = data['x'];
      this.block_y = data['y'];
    });
  },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
/*background-image: @/assets/planets.jpg*/
</style>
