<template>
  <div style="font-family: 'Press Start 2P', cursive;">

    <button class="button is-primary is-medium" v-if="gameEnded" @click="backToLobby">
      Back To Lobby
    </button>

    <div class="columns is-mobile" id="top">
      <!--<div class="column is-4 is-0-mobile"></div>-->
      <div class="column is-centered">
        <img src="../assets/red.png" height="50px" width="50px">
        <div>{{redPlayer.name+ " " + redPlayer.score }}</div>
      </div>
      <div class="column is-centered ">
        <div style="text-align: center;">
          {{ playerTurn? "It's YOUR turn":"It's NOT YOUR turn" }}
        </div>
      </div>
      <div class="column is-centered">
        <img src="../assets/blue.png" height="50px" width="50px">
        <div>{{bluePlayer.name+ " " + bluePlayer.score }}</div>
      </div>
      <!--<div class="column  is-4 is-0-mobile"></div>-->
    </div>

    <div class="columns " id="middle">
      <div class="column is-3 " id="dices">
        <div class="columns is-mobile" >
          <div class="column">
            <Dice :number="diceOne"></Dice>
          </div>
          <div class="column">
            <Dice :number="diceTwo"></Dice>
          </div>
        </div>
        <roll-button :call-back="rollDie" :isDisabled="rolled || !playerTurn"></roll-button>
      </div>
      <div class="column is-7 is-centered" id="gridSlot">
        <Grid
            :moveCallback="(i,j,x,y)=>{onMove(i,j,x,y)}"
            :confirmCallback="place"
            ref="grid"
        ></Grid>
      </div>
      <div id="gridFiller"></div>

    </div>

    <div class="columns" id="control">

      <div class="column is-7">
        <div class="field is-grouped is-grouped-centered" >
          <div v-if="playerToken!==0" class="control" style="padding: 50px 5px 0 5px; max-height: 50px">
            <token-button :isDisabled="!playerTurn" :call-back="passTurn" :tokenAmount="playerToken"></token-button>
          </div>
          <div v-else-if="playerToken===0" class="control" style="padding: 50px 5px 0 5px; max-height: 50px">
            <conclude-button :isDisabled="!playerTurn" :call-back="concludePlay"></conclude-button>
          </div>

          <div class="control" style="padding: 50px 5px 0 5px;">
            <drop-button input-key=" " :call-back="confirm" :isDisabled="!playerTurn || !rolled">Confirm</drop-button>
          </div>

          <div class="control" style="padding: 50px 5px 0 5px;">
            <RotateButton :call-back="rotate" :isDisabled="!playerTurn || !rolled"></RotateButton>
          </div>
        </div>
      </div>


      <div class="column is-4" id="movement">
        <div class="column" style="padding: 0 0 0 0">
          <UpButton :callBack="up" :isDisabled="!playerTurn"></UpButton>
        </div>

        <div class="column is-centered" style="padding: 0 0 0 0">
          <div class=" field is-grouped is-grouped-centered">
            <div class=" control" style="padding: 25px 25px 25px 25px">
                <LeftButton :callBack="left" :isDisabled="!playerTurn"></LeftButton>
            </div>
            <div class=" control" style="padding: 25px 10px 25px 10px">
              <DownButton :callBack="down" :isDisabled="!playerTurn"></DownButton>
            </div>
            <div class="control " style="padding: 25px 25px 25px 25px">
              <RightButton :callBack="right" :isDisabled="!playerTurn"></RightButton>
            </div>
          </div>

        </div>

      </div>

      <!--<button @click="endGame">END GAME, DO NOT PRESS</button>-->

      <b-modal id="modal" :active.sync="modal">
        <div class="card">
          <p>
            WINNER:
            {{endedInfo.winner.name}}
            SCORE:
            {{endedInfo.winner.score}}
          </p>
          <p>
            .............................
          </p>
          <p >
            LOSER:
            {{endedInfo.loser.name}}
            SCORE:
            {{endedInfo.loser.score}}
          </p>

        </div>

      </b-modal>

      <!--<div class="column id">-->
            <!--<rotate-button input-key="r" :call-back="rotate">Rotate</rotate-button>-->
          <!--</div>-->

    </div>
  </div>

</template>

<script>
import Grid from '@/components/Grid';
import DropButton from './button/DropButton';
import RotateButton from './button/RotateButton';
import RollButton from './button/RollButton';
import TokenButton from './button/TokenButton';
import ConcludeButton from './button/ConcludeButton';
import BField from 'buefy/src/components/field/Field';
import Dice from '@/components/Dice';
import UpButton from './button/UpButton';
import RightButton from './button/RightButton';
import LeftButton from './button/LeftButton';
import DownButton from './button/DownButton';

export default {
  name: 'overlay',
  components: {
    BField,
    TokenButton,
    RollButton,
    Dice,
    RotateButton,
    DropButton,
    Grid,
    DownButton,
    UpButton,
    RightButton,
    LeftButton,
    ConcludeButton,
  },
  props: {
    callbackFunc: {
      type: Function,
    },
    diceOne: {
      default: 0,
    },
    diceTwo: {
      default: 0,
    },
    rollDie: {
      type: Function,
    },
    place: {
      type: Function,
    },
    boardData: {},
    username: {
      type: String,
    },
    pass: {
      type: Function,
    },
    end:{
      type: Function,
    },
    backToLobby: {
      type: Function,
    },
    conclude:{
      type: Function,
    }
  },
  data() {
    return {
      size: 0,
      gridHeight: 0,
      gridWidth: 0,
      rolled: false,
      playerTurn: false,
      playerColor: '',
      playerToken: 0,
      currentTurn: '',
      endedInfo: {
        winner:{
          name: '',
          score: '',
        },
        loser:{
          name: '',
          score: '',
        }
      },
      bluePlayer: {
        name: '',
        score: 0,
      },
      redPlayer: {
        name: '',
        score: 0,
      },
      gameEnded: false,
      modal: false
    };
  },
  methods: {
    onMove(i, j, x, y) {
      this.callbackFunc(i, j, x, y);
    },
    rotate() {
      new Audio(require('../assets/sound/hitmarker.mp3')).play();
      this.$refs.grid.rotatePlayerBox();
    },
    up() {
      new Audio(require('../assets/sound/rotate.mp3')).play();
      this.$refs.grid.directionControl('up');
    },
    down() {
      new Audio(require('../assets/sound/rotate.mp3')).play();
      this.$refs.grid.directionControl('down');
    },
    left() {
      new Audio(require('../assets/sound/rotate.mp3')).play();
      this.$refs.grid.directionControl('left');
    },
    right() {
      new Audio(require('../assets/sound/rotate.mp3')).play();
      this.$refs.grid.directionControl('right');
    },
    confirm() {
      this.$refs.grid.confirmSelect();
    },
    createBoxHoverOpponent(i, j, x, y) {
      this.$refs.grid.createBoxHoverOpponent(i, j, x, y);
    },
    passTurn(){
      const data = {
        turn: this.currentTurn
      }
      this.pass(data)
    },
    concludePlay(){
      const data = {
        turn: this.currentTurn
      }
      this.conclude(data)
    },
    endGame(){
      this.end()
    },

    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },

    async displayRow(n, m) {
      this.rolled = true;
      this.diceOne = n;
      this.diceTwo = m;

      for (let i = 0; i < 25; i++) {
        await this.sleep(i * 5);
      }

      this.$refs.grid.setDices(n, m);
    },

    gameLoop(data, name) {

      console.log("Game loop ", data,name)

      if (this.currentTurn !== data.turn || data.player_one.concluded || data.player_two.concluded) {
        //Play success sound
        if (this.rolled) {
          new Audio(require('../assets/sound/tspin.mp3')).play();
        }
        //  Next turn
        //  Reset dice
        this.rolled = false;
        //reset Player hover
        this.$refs.grid.resetPlayerHover();
        this.currentTurn = data.turn;
      } else {
        //  Play fail sound
        new Audio(require('../assets/sound/error.wav')).play();
      }

      //Assign display player Info for both color
      if (data.player_one.color === 'blue') {
        this.bluePlayer.name = data.player_one.name;
        this.bluePlayer.score = data.player_one.score;

        this.redPlayer.name = data.player_two.name;
        this.redPlayer.score = data.player_two.score;
      } else {
        this.redPlayer.name = data.player_one.name;
        this.redPlayer.score = data.player_one.score;

        this.bluePlayer.name = data.player_two.name;
        this.bluePlayer.score = data.player_two.score;
      }

      if (name === data.player_one.name) {
        this.playerColor = data.player_one.color;
        this.playerToken = data.player_one.token
        this.$refs.grid.updateData(data, data.player_one.color);
      } else if (name === data.player_two.name){
        this.playerColor = data.player_two.color;
        this.playerToken = data.player_two.token
        this.$refs.grid.updateData(data, data.player_two.color);
      } else {
        this.playerColor = '';
        this.playerToken = 0;
        this.$refs.grid.updateData(data, 'spec');
      }

      this.gameEnded = false
      this.modal = false

      if(data.status === "ended"){
        this.playerColor = "ended";
        this.endedInfo = data.winner_info
        this.gameEnded = true
        this.modal = true
      }

      this.playerTurn = this.playerColor === data[this.currentTurn].color;
      console.log('PLAYER ', this.playerColor);
      console.log('LOOP ', data);
      console.log('PALTE TURN ', this.playerTurn);
    },
  },
  watch: {
    diceOne() {
      this.displayRow(this.diceOne, this.diceTwo);
    },
    diceTwo() {
      this.displayRow(this.diceOne, this.diceTwo);
    },
    boardData() {
      this.gameLoop(this.boardData, this.username);
    },
  },
  mounted() {
    // this.initSocket(this.socket)
    this.gameLoop(this.boardData, this.username);

    document.getElementById('gridFiller').style.minHeight =
      Math.ceil(window.innerHeight / 2) + 10 + 'px';
    // this.size = this.$refs.gridSlot.clientHeight;

    // window.addEventListener('resize',()=>{
    //   console.log("RESIZADSF")
    //   this.gridWidth = Math.ceil(window.innerWidth/3)
    //   this.gridHeight = Math.ceil(window.innerHeight/3)
    // })

    // const initRed = {
    //   i: 0,
    //   j: 0,
    //   x: 1,
    //   y: 1,
    //   color: 'red'
    // }
    // const initBlue = {
    //   i: 17,
    //   j: 26,
    //   x: 1,
    //   y: 1,
    //   color: 'blue'
    // }
    //
    // const p1 = {
    //   name: "p1",
    //   blocks: [initBlue],
    //   score: 0,
    //   color: 'blue',
    //   edges: [[initBlue.i,initBlue.j,2]]
    // }
    //
    // const p2 = {
    //   name: "p2",
    //   blocks: [initRed],
    //   score: 0,
    //   color: 'red',
    //   edges: [[initRed.i,initRed.j,2]]
    // }
    //
    // const data = {
    //   started: true,
    //   ended: false,
    //   board: {
    //     p1: p1,
    //     p2: p2,
    //     turn: 'blue'
    //   }
    // }

    // this.gameLoop(data,this.username)

    // this.displayRow(3,2)
  },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
modal {
  z-index: 500000;
}
</style>
